.showing-text {
    position: absolute;
    margin-top: 8rem;
    margin-left: 5rem;
    max-width: 50%;
    animation: 2s opanimation;
}

.showing-text p {
    color: #d0d0d0;
    font-size: 1.5rem;
    font-weight: 600;
}

.show {
    color: #d0d0d0;
}

@keyframes opanimation {
    from {
        position: 0 0;
        opacity: 0;
    }
    to {
        position: 100% 0;
        opacity: 1;
    }
}