.second-view {
    display: flex;
    flex-direction: column;
}

.second-view h6 {
    color: #d0d0d0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/* Блок about, текст в нём, анимация, бордер */
.about-position {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10em;
}

.side-border {
    border-right: #d0d0d0 3px solid;
    height: 25em;
    margin-left: 8rem;
    margin-top: 2rem;
    width: 2em;
    opacity: 0.5;
}

.about-me {
    margin-top: 2rem;
}

.about-item {
    margin-top: 3rem;
    margin-left: 7rem;
    max-width: 70%;
    color: #d0d0d0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
    font-size: 1.2rem;
}

.show-text {
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

/* Цикл с сертификатами */
.loop-position {
    position: relative;
    margin-right: 23rem;
    margin-top: 4rem;
}

.loop-position.act {
    display: none;
}

.loop-position img {
    position: absolute;
    width: 15em;
    height: 20em;
    border-radius: 1.5rem;
}

.loop-position :nth-child(1) {
    transform: rotate(10deg);
    z-index: 4;
}

.loop-position :nth-child(2) {
    transform: rotate(-10deg);
    z-index: 2;
}

.loop-position :nth-child(3) {
    z-index: 3;
    transform: translateY(5px);
}

.first-certificate.act {
    z-index: 5 !important;
}

.second-certificate.act {
    z-index: 5 !important;
}

.third-certificate.act {
    z-index: 5 !important;
}

/* Расположение и блок карусели */

.review-carrousel {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}