@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

body {
    background-color: #151515;
    font-family: 'Montserrat', sans-serif;
}

body.lock {
    overflow: hidden;
}

header {
    height: 100svh;
    display: flex;
    flex-direction: column;
}

footer {
    position: relative;
    display: flex;
    width: 100%;
}